/node_modules
/vendor
.git
.gitignore
.env
.env.*
*.md
.idea
.vscode
*.log
docker-compose.yml
Dockerfile
.dockerignore
tests
phpunit.xml
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/** 